  /* Reset and global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Button styles */
.sign-in,
.sign-up {
  font-family: 'Inter', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.sign-up {
  padding: 10px 20px;
  width: 120px;
  height: 36px;
  background-color: white;
  font-weight: 900;
  color: #017176;
  margin-left: 225px;
  margin-bottom: 100px;
  border-radius: 5px;
  border: none;
}

.sign-in {
  font-weight: 600;
  padding: 10px 34px;
  border: none;
  border-radius: 5px;
  background-color: #017176;
  color: white;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 199px;
  transition: background-color 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease; /* Add transition for transform */
}


.sign-in:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Increase shadow when hovered */
  transform: translateY(-2px); /* Move up when hovered */
}

.sign-in:active {
  box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* Reduce shadow when clicked */
  transform: translateY(0); /* Move back down when clicked */
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}



.sign-up:hover {
  background-color: #017176;
  color: white;
  transform: translateY(-2px);
}

.sign-up:active {
  transform: scale(0.95);
  background-color: #e0e0e0;
  transform: translateY(0);
}

/*
 * p.forgot-password {
 *  font-family: 'Inter', sans-serif;
 *  font-weight: 550;
 *  font-size: 14px;
 *  margin: 0;
 *  color: #017176;
 *}
 */

/* Login page styles */
.login-page {
  font-weight: bold;
}

.container {
  display: flex;
  height: 100vh;
}

/* Right section styles */
.right-section {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #34AAB0;
}

.right-section h1 {
  color: white;
  margin-top: 50px;
  font-weight: 500;
  margin-left: 75px;
}

/* Left section styles */
.left-section {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.left-section > h1 {
  padding-top: 50px;
}

.left-section h1,
.left-section p {
  color: #017176;
  text-align: center;
}

/* Form styles */
.form-box {
  width: 525px;
  height: 380px;
  border: 1px solid #ddd;
  padding: 40px;
  padding-top: 32px;
  padding-left: 36px;
  border-radius: 5px;
  margin-bottom: 150px;
}

.form-box label {
  color: #017176;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  flex: 1;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #f1f0f0;
}

.input-field {
  font-size: 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  align-items: center;
  margin-bottom: 12px;
}

.input-field label {
  margin-right: 20px;
}

.username-field {
  margin:1110;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
input::placeholder {
  color: #017176;
  opacity: 1;
}

/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
  color: #017176;
}

/* Microsoft Edge */
input::-ms-input-placeholder {
  color: #017176;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1 {
  margin-bottom: 20px;
}

h1 span {
  font-size: 0.8em;
}

p {
  font-weight: 400;
}

.right-section .research-msg {
  margin-left: 74px;
  font-weight: bold;
  font-size: 14px;
}

.right-section .helpful-msg {
  font-weight: bold;
  font-size: 19px;
}

.right-section .text-slider .fwd-bck-container {
  display: flex;
  margin-left: auto;
  padding-right: 80px;
}

.right-section .text-slider .fwd-bck-container .button-img{
  width: 50px;
  height: 50px;
  border: none;
  border-style: none;
  background: none;
  padding: 0;
}

.right-section .text-slider .fwd-bck-container .arrow-img{
  width: 40px;
  height: 40px;
}

.text-container{
  /* background-color: blue; */
  margin-right: auto;
}

.sign-up-button{
    margin-top: 100px;
}

.cta-text {
  color: white;
}

.text-slider {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-top: 30px;
  align-items: left;
  margin-left: 70px;
}

.tabs {
  display: flex;
  width: 305px;
  margin-bottom: 10px;
  margin-right: 120px;
}

.tab {
  flex: 1;
  padding: 15px;
  border: 1px solid #017176;
  background-color: white;
  color: #017176;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

.tab:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translateY(-2px);
  border: none;
}

.tab.researcher {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tab.personal {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab:active {
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  transform: translateY(0);
}

.tab.active {
  background-color: #017176;
  color: white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.beap {
  font-size: 1.2em;
  color: white;
}

.engine {
  font-size: 0.8em;
  color: white;
}

.cta-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #FF7572;
  border-radius: 5px;
  width: 640px;
  height: 67px;
  margin-bottom: 50px;
  margin-left: 75px;
  padding: 20px 10px;
}

/* .cta-box {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #FF7572;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 380px;
  height: 67px;
  margin-bottom: 50px;
  margin-left: 75px;
} */

.cta-text {
  color: white;
  font-size: 1em;
  margin: 0;
  margin-top: 0px;
}

.no-account {
  font-weight: 500;
}

.first-input-field{
  margin-top: 55px;
} 
