.containerDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

.containerDiv > .bannerinfo {
  margin: 10px 0px;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  border-color: #ffd980;
  background-color: #fff9eb;
  word-spacing: 2px;
}

.action_bar {
  /* background-color: gray; */
  display: flex;
  /* align-items: center; */
  width: 100%;
  height: 5%;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  float: left;
  padding: 0px 0px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  /* position: fixed; */
  /* top: auto;
  left: 10%; */
}

.columnDiv {
  display: inline-block;
  flex-direction: row;
  width: 100%;
}

.buttonControl {
  width: 20%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.buttonControl > .predictBtn {
  color: #fff;
  background-color: #ffd172;
  margin-left: 15px;
  margin-bottom: 10px;
  filter: drop-shadow(0px 2px 2px gainsboro);
}

.buttonControl > .downloadBtn {
  color: #fff;
  background-color: #36bdc4;
  margin-left: 15px;
  margin-bottom: 10px;
  filter: drop-shadow(0px 2px 2px gainsboro);
}

.buttonControl > .goToPredicted {
  background-color: #ff7572;
  margin-left: 15px;
  filter: drop-shadow(0px 2px 2px gainsboro);
}

.listDiv {
  display: flex;
  background-color: #f8f8f8;
  filter: drop-shadow(0px 5px 5px gray);
  width: 80%;
  min-height: 400px;
  float: left;
  border-radius: 10px;
  padding-top: 10px;
}

.fileSelector {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  /* background-color: antiquewhite; */
  /* border: black; */
  /* border-style: solid; */
  vertical-align: middle;
}

.fileSelectorRad {
  width: 100%;
}

.fileDate {
  float: right;
  display: flex;
  padding-right: 10px;
  vertical-align: middle;
}

.fileTextBox {
  /* background-color: #ffd980; */
  display: inline-block;
  float: right;
  translate: (-50%, -50%);
  text-align: center;
  vertical-align: middle;
}
