.helpButton {
    background-color: #5fced3;
    color: white;
    border-bottom-left-radius: 10px;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* max-width: 40px; */
    font-size: 15px;
}

.helpButton:hover {
    box-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        2px 2px 4px rgba(0, 0, 0, 0.2),
        -2px -2px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 500ms;
}

.helpButton:active {
    background-color: rgb(88, 195, 202);
    transition-duration: 0ms;
}

.popup {
    display: none;
    /* visibility: hidden; */
    position: absolute;
    right: 0;
    background-color: #5fced3;
    width: 800px;
    float: right;
    border-bottom-left-radius: 20px;
    padding-top: 10px;
    overflow: scroll;
    z-index: 2147483647;
}

.textGroup {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.dropDownTitle {
    background-color: rgb(255, 255, 255, 0.3);
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 10px;
    max-height: 40px;
    text-decoration-line: underline;
}

.paragraph {
    background-color: rgb(255, 255, 255, 0.3);
    width: 100%;
    color: white;
    padding: 10px;
    overflow-wrap: normal;
    display: none;
}

.closePopupButton {
    background-color: rgb(255, 255, 255, 0.3);
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    width: 30px;
    line-height: 30px;
    margin: 10px;
}

.closePopupButton:hover {
    background-color: rgb(255, 255, 255, 0.5);
    transition-duration: 500ms;
}

.closePopupButton:active {
    background-color: rgb(255, 255, 255, 0.8);
    transition-duration: 0ms;
}

.dropDownButton {
    /* background-color: rgb(255, 255, 255, 0.3); */
    background-color: rgb(255, 255, 255, 0.3);

    /* opacity: 0.5; */
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px;
    float: right;
    transform: translate(0, -7px);
}

.dropDownButton:hover {
    background-color: rgb(255, 255, 255, 0.5);
    transition-duration: 500ms;
}

.dropDownButton:active {
    background-color: rgb(255, 255, 255, 0.8);
    transition-duration: 0ms;
}
