.box {
    width: 532px;
    height: 432px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: '100vh';
}

.buttonControl {
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
  }
  
  .buttonControl > .proccessBtn {
    color: #fff;
    background-color: #ffd172;
    margin-bottom: 10px;
    filter: drop-shadow(0px 2px 2px gainsboro);
  }
  
  .buttonControl > .proccessBtn:hover {
    background-color: #d1aa5d;
  }
