@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.main_page {
  min-width: 100vw;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.brand {
  display: flex;
  justify-content: center;
}

.auth_buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.login_button {
  padding: 10px;
  font-weight: 600;
  background-color: transparent;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
}

.signup_button {
  padding: 10px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid silver;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.login_button {border-radius: 12px;}
.signup_button {border-radius: 12px;}

.signup_button:hover {
  background-color: #FF7572;
  color: white;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}

.login_button:hover {
  background-color: #FFD172;
  color: white;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}


@keyframes fadeDown {
  from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
  }
  to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
}

.page_body {
  background: url(../../assets/beap-square-logo.gif) no-repeat top;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_body > h1 {
  color: #017176;
  font-size: 90px;
  margin-bottom: 0px;
  text-align: center;
  animation: fadeDown 2s linear forwards;
  font-family: "Poppins", sans-serif;
}

.page_body > h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  color: #333333;
}

a {
  text-decoration: none;
  color: #000000;
}

.see_more {
  width: 100%;
  display: flex;
  justify-content: center;
}


@keyframes updown {
  0% {
      transform: translateY(-50%);
  }

  50% {
      transform: translateY(20%);
  }

  100% {
      transform: translateY(-50%);
  }
}

.expand_icon {
  cursor: pointer;
  font-size: 60px !important;
  animation: updown 2s ease infinite;
}

.description {
  width: 100%;
  height: auto;
}

.top {
  background: whitesmoke;
  padding: 150px 30px;
  display: flex;
  flex-direction: column;
}

.top > h1 {
  color: #01959C;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.top > span {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  max-width: 850px;
}

.top > div {
  margin: 15px auto 45px;
  display: flex;
}

.description > .top, .description > .bottom {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .description > .top {
  padding-left: 100px;
  box-sizing: border-box;
} */

.bottom {
  width: 100%;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
}

.bottom > img {
  width: 50%;
  height: auto;
}

.extract_data {
  background-color: #333333;
  color: #FF7572;
  font-family: "Poppins", sans-serif;
  width: 100%;
  flex:  1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0px !important;
  box-sizing: border-box;
}

.extract_data > div > a{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 4px solid #FFFFFF;
  /* border: 1px solid; */
  margin-left: 30px;
}

.arrow_right {
  font-size: 50px !important;
}

.extract_data > div > a:hover {
  letter-spacing: 2px;
  font-size: 32px;
}

.extract_data > h4{
  max-width: 600px;
  text-align: center;
}

.extract_data > span {
  display: flex;
  align-items: center;
}
.extract_data > div {
  display: flex;
}

.ed_div {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 10px 0;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}


.h6Glow {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.link {
  color: #FF7572;
  font-family: "Lora", sans-serif;
  font-weight: 600;
}

.appleWatchButton {
  font-family: "Mulins", sans-serif !important;
  color: white !important;
  font-weight: 600 !important;
  margin-right: 12px !important;
  background-color: black !important;
  padding: 5px 10px !important;
  transition: background-color 0.3s ease !important;
}

.appleWatchButton:hover {
  background-color: white !important;
  color: #C48300 !important;
  font-weight: 600 !important;
}

.fitbitButton {
  font-family: "Mulins", sans-serif !important;
  background-color: black !important;
  color: white  !important;
  font-weight: 600 !important;
  padding: 5px 10px !important;
  transition: background-color 0.3s ease !important;
}

.fitbitButton:hover {
  background-color: white !important;
  color: #C48300 !important;
  font-weight: 600 !important;
}



@media(max-width: 1000px) {
  .bottom > img {
      width: 70%;
      height: auto;
  }
}

@media(max-width: 500px) {
  .bottom > img {
      width: 90%;
      height: auto;
  }
}
