.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: auto;
    flex: 1;
    overflow: auto;
}

.main {
    width: 100%;
    height: 80%;
    display: flex;
}

.backdrop {
    z-index: 1000;
    color: '#000000';
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8) !important;
}


.backdrop > .backdrop_message {
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    z-index: 1000;
}

.backdrop > .circle {
    color: #FFFFFF;
}

.circle {
    color: #FFFFFF;
}

.dzContainer  {
    flex: 1;
    padding: 10px 20px 10px 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.dropzone {
    border: 4px dashed #36BDC4;
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.aside {
    flex: 1;
}

.fileDisplay { 
    flex: 1;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.fd_header, .fd_flex {
    display: flex;
    align-items: center;
}

.fd_header {
    margin-bottom: 10px;
}

.fd_header > div {
    margin-left: auto;
}

.fd_header > span, .fd_flex > span {
    font-weight: bold;
    /* margin-left: 16px; */
}

.fd_header > div > .upload_btn {
    margin-left: auto;
    margin-right: 10px;
    color: #FFFFFF;
    background-color: #36BDC4;
}

.fd_header > div > .delete_btn {
    margin-left: 5px; 
    color: #FFF; 
    background-color: #FF7572;
}


.acceptedFiles {
    margin-top: 10px;
    height: auto;
    max-height: 40vh;
    overflow: scroll;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadedFiles {
    margin-top: 10px;
    height: auto;
    max-height: 100%;
    overflow: scroll;
}

.selectForm {
    margin: auto;
    min-width: 120px !important;
}

.listItem {
    background-color: #F2F6F9;
}

.expPanel {
    height: 55px;
}

.expTitle {
    margin-left: 5px; 
    margin-top: auto; 
    margin-bottom: auto;
}

.fd_header > .processBtn, .fd_flex > .processBtn  {
    margin-left: auto;
    color: #FFF; 
    background-color: #FFB41A;
}

.list  {
    list-style: none; 
    margin-bottom: 5px;
}

.radioList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.f_radio {
    margin-left: auto;
}

.button {
    margin-right: 5px;
} 


Button:disabled {
    background-color: #999999;
}

.container > .bannerinfo {
    margin: 10px 0px;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    border-color: #FFD980;
    background-color: #FFF9EB;
    word-spacing: 2px;
}


@media only screen and (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .dzContainer {
        width: 100%;
        min-height: 25%;
        padding: 0px;
        flex: 1;
    }

    .fd_header {
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
    }

    .fd_flex {
        display: flex !important;
        align-items: center;
        font-weight: bold;
    }

    .fd_flex > .processBtn {
        margin-left: auto;
        /* margin-right: 15px; */
        color: #FFF; 
        background-color: #FFB41A;
    }

    .fileDisplay {
        padding: 0px;
        flex: 2;
    }

    .acceptedFiles {
        flex: 1 1 auto;
    }

    .f_radio {
        margin-left: 0;
    }

    .fd_header > div {
        margin-left: 0;
    }

    .dropzone {
        width: 100%; /* or specify a specific width in pixels or percentage */
        height: 200px; /* or specify a specific height in pixels */
        border: 2px dashed #cccccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
}